.progressBar
  %div
#countdown-timer.pull-right{data: {max_seconds: @max_seconds}}
  - unless @total_seconds >= @max_seconds
    %span#timer-hour
      = @hours
    \:
    %span#timer-minute
      = @minutes
    \:
    %span#timer-second
      = @seconds
= form_tag quiz_answer_path, class: "form-horizontal" do
  %fieldset
    / Form Name
    %h3
      = @quiz.name
    / Multiple Radios
    .form-group
      %input{:name => "question_answer[question_id]", :type => "hidden", :value => @question.id}/
      %label.col-md-12.control-label.quiz{:for => "choices"}
        = @question.label.html_safe
      %br/
      %div.container= image_tag @question.image.try(:url, :medium)
      .col-md-10.choices
        - (1..6).reject{|x| @question.send("option#{x}").blank? }.each do |choice|
          .radio
            %label{:for => "choices-#{choice}"}
              %input{:id => "choices-#{choice}", :name => "question_answer[answer]", :required => "", :type => "radio", :value => choice}/
              = @question.send("option#{choice}").gsub(/\n/, "<br>").html_safe
    / Button
    .form-group
      %label.col-md-4.control-label.sr-only{:for => "next"}
      .col-md-4.choicesnext
        %input#next.btn.btn-primary{:name => "next", :type => "submit", :value => "Next"}/
