.container-fluid
  %h1 Thank you!
  %hr/
  .container
    .row
      .col-md-8
        %p We have received your assessment test for your employment purpose. Your Employer will be in touch with you shortly.
        %p
          While waiting, you may check our corporate website for more information:
          %a{:href => "http://ingedata.net", :target => "_blank"} Ingedata.net
