%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .field.users
    = f.label :first_name
    %br/
    = f.text_field :first_name, placeholder: "First Name", autofocus: true
    %br/
    = f.label :last_name
    %br/
    = f.text_field :last_name, placeholder: "Last Name", autofocus: true
    %br/
    = f.label :email
    %br/
    = f.email_field :email, placeholder: "Email Address", autofocus: true
    %br/
    = f.label :phone_number
    %br/
    = f.text_field :phone_number, placeholder: "Phone Number", autofocus: true
    %br/
    = f.label :address
    %br/
    = f.text_field :address, placeholder: "Address", autofocus: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .field.users
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, autocomplete: "off"
    - if @minimum_password_length
      %br/
      %em
        = @minimum_password_length
        characters minimum
  .field.users
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field.users
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password, autocomplete: "off"
  .actions
    = f.submit "Update"
/ %h3 Cancel my account
/ %p
/   Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
/ = link_to "Back", :back
