- page_title = 'Introduction'
- submit_icon = 'glyphicon glyphicon-play'
- submit_text = 'Start'
- submit_tooltip = 'Start taking this Exam'
- if @exam_started
  - page_title = 'Continuation'
  - submit_icon = 'glyphicon glyphicon-fast-forward'
  - submit_text = 'Next'
  - submit_tooltip = 'Continue taking this Exam'
= form_tag home_path, class: 'form-horizontal' do
  %fieldset
    %legend.formtitle
      = page_title
    .form-group
      = label_tag :exam_id, nil, class: 'col-md-4 control-label sr-only'
      .col-md-offset-4.col-md-4
        %br/
        %h5.center
          - if @exams.count > 1 && !@exam_started
            = select_tag :exam_id, options_from_collection_for_select(@exams, :id, :name, :rank), class: 'form-control', title: 'Exam', 'data-toggle': 'tooltip', 'data-placement': 'left', required: true
          - else
            = @exam.name.titleize
          %h3.center
            = @quiz.name.titleize
            = hidden_field_tag :exam_id, @exam.id
        - unless @quiz.blank?
          = hidden_field_tag :quiz_id, @quiz.id
          .well.well-sm.center{ id: "quiz-info-#{@exam.id}" }
            %em= @quiz.instruction.gsub(/\n/, '<br>').html_safe
            - if @quiz.max_time > 0
              %br/
              Maximum Time: #{@quiz.max_time} minute/s
            - if @quiz.max_attempts > 0
              %br/
              Maximum Attempt: #{@quiz.max_attempts}
        - else
          - @exams.each do |exam|
            - quiz = exam.quizzes.first
            = hidden_field_tag :quiz_id, quiz.id
            .well.well-sm{ id: "quiz-info-#{exam.id}" }
              %em= quiz.instruction.gsub(/\n/, '<br>').html_safe
              - if quiz.max_time > 0
                %br/
                Maximum Time: #{quiz.max_time} minute/s
              - if quiz.max_attempts > 0
                %br/
                Maximum Attempt: #{quiz.max_attempts}
    .actions.form-group
      .col-md-offset-4.col-md-4.text-center
        = button_tag type: 'submit', class: 'btn btn-primary btn-lg', title: submit_tooltip, 'data-toggle': 'tooltip', 'data-placement': 'bottom' do
          = submit_text
          %i{ class: "#{submit_icon}" }
/ = form_tag home_path, class: "form-horizontal" do
/   %fieldset
/     %legend.formtitle Select Quiz
/     .form-group
/       = label_tag :quiz_id, nil, class: "col-md-4 control-label sr-only"
/       .col-md-offset-4.col-md-4
/         = select_tag :quiz_id, options_from_collection_for_select(@quizzes, :id, :name), class: "form-control", title: "Quiz", "data-toggle": "tooltip", "data-placement": "left", required: true
/     .form-group
/       .col-md-offset-4.col-md-4
/         - @quizzes.each do |quiz|
/           .well.well-sm{:id => "quiz-info-#{quiz.id}"}
/             %em= quiz.instruction.gsub(/\n/, "<br>").html_safe
/             - if quiz.max_time > 0
/               %br>/
/               Maximum Time: #{quiz.max_time} minute/s
/             - if quiz.max_attempts > 0
/               %br>/
/               Maximum Attempt: #{quiz.max_attempts}
/     .actions.form-group
/       .col-md-offset-4.col-md-4.text-center
/         = submit_tag "Proceed to Quiz", class: "btn btn-primary", title: "Proceed to Quiz", "data-toggle": "tooltip", "data-placement": "bottom"
