@import "bootstrap";
@import "home";


ul.nav.navbar-nav {
    float: right;
}

.jumbotron {
    padding: 4rem 2rem;
    min-height: 650px;
    margin-bottom: 0;
    margin-top: 50px;
}

.formtitle, .proceedquiz, .center {
  text-align:center;
}

footer p {
    text-align: center;
    font-size: 14px !important;
}

.form-horizontal {
  padding-top: 2em;
}

.control-label.quiz {
  text-align: left !important;
  padding-top: 20px !important;
}

.col-md-8.choices {
  padding: 0 40px 0 20px;
}

.col-md-4.choicesnext {
  padding-top: 20px;
}

.quiz_image {
  float: right;
  margin-right: 20%;
}

.actions {
  margin: 10px auto;
}

input#user_email, input#user_password, div.actions input, .btn-primary {
  width: 300px;
}

.field.users label{
  margin-bottom: -10px;
}

.field.users {
  margin: 25px auto;
}

.container {
  float: right;
  margin: 20px;
}

.progressBar {
  width: 100%;
  margin: -40px 0 0 0;
  height: 22px;
  background-color: #82e057;
}

.progressBar div {
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #00b3ea;
  box-sizing: border-box;
}

.pull-right {
  z-index: 9999;
  margin: -20px 7px 0 0;
  font-size: 13px;
  font-weight: 600;
  color: black;
}
