!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Ingedata Application Assessment
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", :rel => "stylesheet"}/
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", :integrity => "sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav#myNavbar.navbar.navbar-default.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      / Brand and toggle get grouped for better mobile display
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}= image_tag("logo.png", :alt => "Ingedata")
        / Collect the nav links, forms, and other content for toggling
        #navbarCollapse.collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if current_user
              %li.hello
                %a{:href => "#"}
                  Hello
                  = current_user.first_name
                  = current_user.last_name
              %li
                = link_to "Account", edit_user_registration_path
              %li
                = link_to 'Sign out', destroy_user_session_path, :method => :delete

            - else
              %li
                = link_to "Sign Up", new_user_registration_path
              %li
                = link_to 'Sign In', new_user_session_path
    .jumbotron
      .container-fluid
        - @message = notice || alert
        - if @message
        - @message.gsub! ", ", "</p><p><span class='glyphicon glyphicon-#{(notice ? 'ok' : 'exclamation')}-sign' aria-hidden='true'></span><span class='sr-only'>#{(notice ? 'Success' : 'Error')}:</span> "
          %div{:class => "alert alert-#{(notice ? 'success' : 'danger')}"}
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %p
              %span{"aria-hidden" => "true", :class => "glyphicon glyphicon-#{(notice ? 'ok' : 'exclamation')}-sign"}
              %span.sr-only
                = (notice ? 'Success' : 'Error')
                \:
              = @message.html_safe
        - notice = alert = nil
        = yield
      %hr/
      .row
        .col-xs-12
          %footer
            %p © Copyright 2016 Ingedata Development Team
    = javascript_include_tag 'application', 'quiz', 'data-turbolinks-track' => true
